@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100..900&family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Plus+Jakarta+Sans:ital,wght@0,200..800;1,200..800&display=swap");
:root {
    --font-default: "Inter", sans-serif;
    --font-primary: "Montserrat", sans-serif;
    --font-secondary: "Poppins", sans-serif;
}

/* Colors */
:root {
    --color-default: #222222;
    --color-primary: #084263;
    --color-secondary: #fff000;
}

/* navbar */
.dark {
    background-color: var(--color-primary);
}
.navbar-transition {
    transition: background-color 0.3s ease;
}

.navbar-nav .nav-link {
    font-weight: 500;
    color: white !important;
}

.navbar-nav .dropdown:hover .dropdown-menu {
    display: block;
    margin-top: 0;
}

.navbar-nav .dropdown .dropdown-menu {
    display: none;
    margin-top: 0;
}

.navbar-nav .nav-item .nav-link {
    position: relative;
    display: inline-block;
    padding-bottom: 5px;
}

.navbar-nav .nav-item .nav-link::after {
    content: "";
    position: absolute;
    width: 100%;
    height: 2px;
    bottom: 0;
    left: 0;
    background-color: var(--color-secondary);
    transform: scaleX(0);
    transition: transform 0.3s ease-in-out;
    transform-origin: bottom right;
}

.navbar-nav .nav-item .nav-link:hover::after {
    transform: scaleX(1);
    transform-origin: bottom left;
}

.navbar-nav .dropdown-toggle::after {
    display: inline-block;
    margin-left: 0.255em;
    vertical-align: 0.255em;
    content: "";
    border-top: 0.3em solid;
    border-right: 0.3em solid transparent;
    border-bottom: 0;
    border-left: 0.3em solid transparent;
}

.navbar-nav .dropdown:hover .nav-link::after {
    display: inline-block;
}
.bg-dark {
    background-color: var(--color-primary) !important;
}
.img-nav {
    max-width:60px;
}
.navbar-toggler-icon .fas {
    color: white; /* Mengubah warna ikon menjadi putih */
}

/* end navbar */
/* hero */
.hero {
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    /* filter: brightness(80%) sepia(20%); */
}

.hero-1 {
    font-family: "Inter", sans-serif;
    font-size: 30px;
    font-weight: 700;
    font-style: normal;
    color: #fff;
}
.hero-2 {
    font-size: 48px;
    font-family: "Inter", sans-serif;
    font-weight: 700;
    font-style: normal;
    color: #fff;
}

.logo1 {
    width: 150px;
}

/* pengantatr */
.pengantar {
    padding: 100px 0;
    /* background-color: #f8f9fa;  */
    text-align: center;
}

.pengantar-1 {
    font-family: "Inter", sans-serif;
    font-size: 36px;
    font-weight: 600;
    color: #000;
    margin-bottom: 40px;
}

.pengantar-2 {
    font-family: "Inter", sans-serif;
    font-size: 18px;
    font-weight: 300;
    color: #333; /* Warna teks */
    line-height: 1.8; /* Jarak antar baris */
}

.card-pengantar {
    width: 100%;
    padding: 40px;
    background-color: #e8d933;
    border-radius: 12px;
    box-shadow: 0px 10px 20px 0px rgba(0, 0, 0, 0.75);
}

.card-pengantar:hover {
    transform: translateY(-5px); /* Angkat kartu ke atas */
    transition: all 0.3s ease-in-out;
}

/* end pengantar */

/* berita */
.berita {
    background-color: #f8f9fa;
    text-align: center;
    padding: 100px 120px; /* Adjusted padding */
    display: flex;
    flex-direction: column;
}

.limited-text {
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 6;
    /* Batas baris yang ditampilkan */
    overflow: hidden;
    text-overflow: ellipsis;
    height: calc(1.2em * 6);
    /* Tinggi maksimum 6 baris, sesuaikan 1.2em jika baris lebih tinggi/rendah */
    line-height: 1.2em;
    /* Tinggi baris */
}

.card-news {
    width: 350px;
}

.card-news:hover {
    transform: translateY(-5px);
    transition: transform 0.3s ease-in-out;
}

.berita-1 {
    font-family: "Inter", sans-serif;
    font-size: 36px;
    font-weight: 600;
    font-style: normal;
    color: #000;
    margin-bottom: 40px;
}

.img-berita-home {
    width: 100%; /* Set image width to 100% */
    height: 200px; /* Maintain aspect ratio */
    display: block; /* Ensure block level */
    margin: 0 auto 20px; /* Center image and add bottom margin */
}

.date-news {
    text-align: start;
    padding: 5px 20px 5px 20px;
    font-family: "Montserrat", sans-serif;
    font-size: 16px;
    font-weight: 600;
    margin-bottom: 0;
    margin-top: 5px;
}

.btn-selengkapnya {
    font-size: 16px;
    text-decoration: none;
    color: #fff;
    background-color: #ffb606;
}

.title-news {
    text-align: start;
    padding: 5px 20px 20px;
    font-family: "Montserrat", sans-serif;
    font-size: 18px;
    font-weight: 400;
    color: #000;
    display: -webkit-box;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
    margin-top: 0;
}

.date-news {
    text-align: start;
    padding-left: 10px;
    /* padding: 5px 20px 5px 20px; */
    font-family: "Montserrat", sans-serif;
    font-size: 16px;
    font-weight: 400;
    margin-bottom: 0;
    margin-top: 5px;
}

.btn-news {
    margin-top: 40px;
    background: var(--color-primary);
    border: 0;
    padding: 14px 45px;
    color: #fff;
    transition: 0.4s;
    border-radius: 50px;
}

.btn-news .a-btn-news {
    font-size: 20px;
    text-decoration: none;
    color: #fff;
}

.btn-news:hover {
    background-color: #ffb606;
    transition: background-color 0.3s ease;
}

.btn-news:hover .a-btn-news {
    color: #fff;
}

/* end berita */

/* galeri */

.galery {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 100px 120px;
    width: 100%;
    flex-direction: column;
}

.galery-1 {
    font-family: "Inter", sans-serif;
    font-size: 36px;
    font-weight: 600;
    font-style: normal;
    color: #000;
    margin-bottom: 40px;
}

.row {
    display: flex;
    justify-content: center;
}

.col {
    margin-bottom: 20px; /* Jarak antar gambar */
}

.card-galery {
    border: none;
    min-width: 200px;
}

.img-hover-zoom {
    overflow: hidden;
    position: relative;
}

.img-hover-zoom img {
    width: 100%; /* Ensure the image takes the full width of the container */
    height: 200px; /* Set a maximum height */
    object-fit: cover; /* Ensure the image covers the container while maintaining aspect ratio */
    transition: transform 0.5s ease;
    background-position: center;
}

.img-hover-zoom:hover img {
    transform: translateY(-5px);
}

.card-title {
    text-align: center;
    margin-top: 10px;
}

/* end galeri */

img {
    max-width: 100%;
}

/* hero profile */
.hero-profile {
    display: flex;
    align-items: center; /* Pusatkan secara vertikal */
    background-size: cover;
    width: 100%;
    height: 500px;
    background-position: 30%;
    padding: 100px 120px;
    margin-bottom: 40px;
    position: relative; /* Tambahkan untuk membuat posisi anak relatif ke induk */
}

.profile-1 {
    margin-top: 0; /* Reset margin top */
    text-align: left; /* Tempatkan teks di sebelah kiri secara default */
    font-family: "Plus Jakarta Sans", sans-serif;
    font-size: 42px;
    font-weight: 600;
    font-style: normal;
    color: #fff;
    position: relative; /* Tambahkan untuk memastikan posisi yang tepat */
    z-index: 1; /* Pastikan teks berada di depan */
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5); /* Tambahkan bayangan teks untuk kontras */
    flex: 1; /* Pastikan elemen mengambil ruang yang tersedia */
}

.hero-profile::after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgba(
        0,
        0,
        0,
        0.5
    ); /* Tambahkan lapisan gelap semi-transparan */
    z-index: 0; /* Pastikan lapisan berada di belakang teks */
}

/* Media queries untuk layar kecil (mobile) */
@media (max-width: 768px) {
    .hero-profile {
        height: 45vh; /* Kurangi tinggi untuk layar kecil */
    }
    .profile-1 {
        margin-top: 20px;
        font-size: 24px; /* Kurangi ukuran font pada layar kecil */
        text-align: center; /* Pusatkan teks secara horizontal pada layar kecil */
    }
}

/* end hero profile */
/*  */
/* history */
.history {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 50px 20px; /* Ubah padding untuk layar kecil */
}

.history-1 {
    font-family: "Inter", sans-serif;
    font-size: 36px;
    font-weight: 600;
    font-style: normal;
    color: #000;
    margin-bottom: 20px; /* Kurangi margin untuk layar kecil */
    text-align: center;
}

.history-2 {
    font-family: "Inter", sans-serif;
    font-size: 16px;
    font-weight: 400;
    font-style: normal;
    color: #000;
    margin-bottom: 20px; /* Kurangi margin untuk layar kecil */
    text-align: center;
}

/* Media queries untuk layar kecil (mobile) */
@media (max-width: 768px) {
    .history {
        padding: 20px 10px; /* Kurangi padding pada layar kecil */
    }

    .history-1 {
        font-size: 24px; /* Kurangi ukuran font pada layar kecil */
        margin-bottom: 20px; /* Kurangi margin pada layar kecil */
    }

    .history-2 {
        font-size: 14px; /* Kurangi ukuran font pada layar kecil */
        margin-bottom: 20px; /* Kurangi margin pada layar kecil */
    }
}

/* end hostory */

/* news */
.news {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: start;
    padding: 100px 120px;
}

.news-1 {
    font-family: "Inter", sans-serif;
    font-size: 36px;
    font-weight: 600;
    font-style: normal;
    color: #000;
    margin-bottom: 40px;
    text-align: start;
}

.img-news-last {
    width: 100%;
    border-radius: 12px;
}

.title-news-last {
    font-family: "Inter", sans-serif;
    font-size: 24px;
    font-weight: 500;
    font-style: normal;
    color: #000;
    text-align: start;
}
.date-news-last {
    font-family: "Inter", sans-serif;
    font-size: 16px;
    font-weight: 400;
    font-style: normal;
    color: #7a8a99;
    text-align: start;
}
.content-news-last {
    font-family: "Inter", sans-serif;
    font-size: 16px;
    font-weight: 400;
    font-style: normal;
    color: #000;
    text-align: start;
}

.btn-last-news {
    font-family: "Inter", sans-serif;
    font-size: 16px;
    font-weight: 400;
    font-style: normal;
    color: #000;
    text-align: start;

    border-radius: 8px;
    border: none;
    background-color: #7a8a99;
    padding: 10px;
}

.news-all {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 100px 120px;
    align-items: center;
}

.card-news-all {
    width: 100%;
    border: none;
    border-radius: 12px;
    margin-bottom: 40px;
}
.title-news-all {
    font-family: "Inter", sans-serif;
    font-size: 24px;
    font-weight: 500;
    font-style: normal;
    color: #000;
    text-align: start;
    display: -webkit-box;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
    overflow: hidden;
    line-height: normal;
}

.btn-all-news {
    display: flex;
    justify-content: center;
    padding: 12px;
    border: none;
    max-width: 200px;
    border-radius: 12px;
    color: var(--color-secondary);
    background-color: #7a8a99;
    font-family: "Inter", sans-serif;
    font-size: 20px;
}

a.btn-all-news {
    color: var(--color-secondary);
}


/* Medium Devices */
@media (max-width: 991px) {
    .news-all .col {
        flex: 1 1 calc(50% - 20px); /* 2 kolom di layar medium */
        max-width: calc(50% - 20px);
        justify-content: center;
    }

    .title-news {
        font-size: 14px;
    }

    .btn-read {
        font-size: 12px;
        padding: 8px 15px;
    }
}

/* Small Devices */
@media (max-width: 767px) {
    .news-all {
        padding: 20px;
    }

    .news-all .col {
        flex: 1 1 calc(100% - 20px); /* 1 kolom di layar kecil */
        max-width: calc(100% - 20px);
    }

    .title-news {
        font-size: 16px;
        text-align: center;
    }

    .img-berita-home {
        margin-bottom: 10px;
    }

    .btn-read {
        font-size: 14px;
    }
}

/* Extra Small Devices */
@media (max-width: 575px) {
    .news-all .row {
        flex-direction: column;
        align-items: center;
    }

    .news-all .col {
        width: 100%;
        max-width: 100%;
    }

    .btn-read {
        width: 100%;
    }

    .title-news {
        text-align: center;
    }
}

/* Responsive News Section */
@media (max-width: 991px) {


    /*  */
    .news {
        padding: 80px 60px;
    }

    .news-1 {
        font-size: 28px;
        text-align: center;
    }

    .row {
        flex-direction: column;
        align-items: center;
    }

    .col {
        width: 100%;
    }

    .img-news-last {
        max-width: 100%;
        height: auto;
        margin-bottom: 20px;
    }

    .title-news-last,
    .date-news-last,
    .content-news-last {
        text-align: left; /* Selalu mulai dari kiri */

    }

    .btn-last-news {
        display: flex;
        align-items: center;
        justify-content: center;
        font-size: 12px;
        padding: 6px;
        width: 120px;
        text-align: center;
        margin-top: 10px;
    }

}

@media (max-width: 767px) {
    .news {
        padding: 60px 30px;
    }

    .news-1 {
        font-size: 24px;
        text-align: left; /* Mulai dari kiri */
    }

    .img-news-last {
        border-radius: 8px;
    }

    .title-news-last {
        font-size: 20px;
        text-align: left; /* Mulai dari kiri */
    }

    .content-news-last {
        font-size: 14px;
        text-align: left; /* Mulai dari kiri */
    }

    .btn-last-news {
        font-size: 14px;
        padding: 8px;
    }
}

@media (max-width: 575px) {
    .news {
        padding: 40px 20px;
    }

    .news-1 {
        font-size: 20px;
        text-align: left; /* Mulai dari kiri */
    }

    .img-news-last {
        margin-bottom: 15px;
    }

    .title-news-last {
        font-size: 18px;
        text-align: left; /* Mulai dari kiri */
    }

    .date-news-last,
    .content-news-last {
        font-size: 12px;
        text-align: left; /* Mulai dari kiri */
    }

    .btn-last-news {
        font-size: 12px;
        padding: 6px;
        width: 120px;
    }
}

/*  */

/* profile */

.profile {
    width: 100%;
    display: flex;
    justify-content: center;
    padding: 50px 20px;
}

.title-profile {
    font-family: "Inter", sans-serif;
    font-size: 24px;
    font-weight: 500;
    font-style: normal;
    color: #000;
    text-align: center;
}

.misi-profile {
    font-family: "Inter", sans-serif;
    font-size: 16px;
    font-weight: 400;
    font-style: normal;
    color: #000;
    text-align: start;
    padding: 20px;
}

.custom-card {
    background-color: #f8f9fa; /* Warna latar belakang kartu */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Bayangan */
    border-radius: 8px; /* Menambahkan border radius */
    border: none; /* Menghilangkan border default */
    padding: 20px;
}

.card-body {
    padding: 20px;
}

.history-3 {
    font-family: "Inter", sans-serif;
    font-size: 16px;
    font-weight: 400;
    font-style: normal;
    color: #000;
    text-align: start;
    padding: 20px;
}

.kontak {
    padding: 80px 0;
    background-color: #f8f9fa;
}

.kontak h2 {
    margin-bottom: 30px;
    font-size: 32px;
}

.kontak p {
    margin-bottom: 30px;
}

.kontak ul {
    list-style: none;
    padding-left: 0;
    margin-bottom: 30px;
}

.kontak ul li {
    margin-bottom: 10px;
}

.kontak ul li i {
    margin-right: 10px;
}

.kontak form {
    background-color: #fff;
    padding: 30px;
    border-radius: 10px;
    box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.1);
}

.kontak form label {
    font-weight: 600;
}

.kontak form input,
.kontak form textarea {
    margin-bottom: 20px;
}

.kontak form textarea {
    resize: none;
}

.kontak form button {
    width: 100%;
}

.unit-bisnis {
    padding: 50px 0;
    box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.1); /* tambahan shadow */
}

.unit-bisnis h2 {
    text-align: center;
    margin-bottom: 30px;
    font-size: 2.5rem;
}

.unit-bisnis p {
    margin-bottom: 20px;
}

.unit-bisnis .accordion-item {
    margin-bottom: 20px;
    background-color: #f8f9fa;
    border: 1px solid #dee2e6;
    border-radius: 10px;
}

.unit-bisnis .accordion-button {
    background-color: #f8f9fa;
    color: #343a40;
    border: none;
    border-radius: 10px;
    padding: 15px 20px;
    font-size: 1.2rem;
    font-weight: bold;
    text-align: left;
    transition: all 0.3s ease;
}

.unit-bisnis .accordion-button:hover {
    background-color: #e9ecef;
}

.unit-bisnis .accordion-body {
    background-color: #fff;
    padding: 15px 20px;
    border-radius: 0 0 10px 10px;
}

.flag-img {
    width: 18px;
    height: auto;
    margin-right: 5px;
}

.card {
    border: none;
    border-bottom: 1px solid #343a40;
}

.card:last-child {
    border-bottom: none;
}

.dukung {
    padding: 50px 0;
}

.dukung .card {
    border-top: #e8d933 solid 5px;
    border-radius: 15px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
    transition: all 0.3s ease;
    padding: 20px; /* Tambahkan padding untuk konten card */
}

.dukung .card-title {
    font-size: 2rem;
    font-weight: bolder;
    margin-bottom: 20px;
    font-family: "Plus Jakarta Sans", sans-serif;
    color: #333;
    transition: color 0.3s ease;
}

.dukung .card-text {
    font-size: 1rem;
    font-family: "Plus Jakarta Sans", sans-serif;
    color: #343a40;
    font-weight: 500;
    line-height: 2rem;
    margin-bottom: 20px;
    transition: color 0.3s ease;
}

.dukung .btn-primary {
    background-color: #004c79;
    border-color: #004c79;
    width: 400px;
    font-size: 1.2rem;
    padding: 10px 30px;
    transition: background-color 0.3s ease, border-color 0.3s ease;
}

.dukung .btn-primary:hover {
    background-color: #ffb606;
    border-color: #ffb606;
    color: #000;
}

/* Media queries untuk layar kecil (mobile) */
@media (max-width: 768px) {
    .dukung {
        padding: 30px 10px; /* Kurangi padding pada layar kecil */
    }

    .dukung .card-title {
        font-size: 1.8rem; /* Kurangi ukuran font pada layar kecil */
        margin-bottom: 15px; /* Kurangi margin pada layar kecil */
    }

    .dukung .card-text {
        font-size: 1rem; /* Kurangi ukuran font pada layar kecil */
        line-height: 1.5rem; /* Sesuaikan line-height pada layar kecil */
        margin-bottom: 15px; /* Kurangi margin pada layar kecil */
    }

    .dukung .btn-primary {
        width: 100%; /* Buat tombol memenuhi lebar layar pada layar kecil */
        font-size: 1rem; /* Kurangi ukuran font pada tombol */
        padding: 10px 20px; /* Kurangi padding pada tombol */
    }
}

.full-content {
    margin-top: 10px;
}

.blog-listing {
    padding-top: 30px;
    padding-bottom: 30px;
}
.gray-bg {
    background-color: #f5f5f5;
}
/* Blog
---------------------*/
.blog-grid {
    box-shadow: 0 0 30px rgba(31, 45, 61, 0.125);
    border-radius: 5px;
    overflow: hidden;
    background: #ffffff;
    margin-top: 15px;
    margin-bottom: 15px;
}
.blog-grid .blog-img {
    position: relative;
}
.blog-grid .blog-img .date {
    position: absolute;
    background: #fc5356;
    color: #ffffff;
    padding: 8px 15px;
    left: 10px;
    top: 10px;
    border-radius: 4px;
}
.blog-grid .blog-img .date span {
    font-size: 22px;
    display: block;
    line-height: 22px;
    font-weight: 700;
}
.blog-grid .blog-img .date label {
    font-size: 14px;
    margin: 0;
}
.blog-grid .blog-info {
    padding: 20px;
}
.blog-grid .blog-info h5 {
    font-size: 22px;
    font-weight: 700;
    margin: 0 0 10px;
}
.blog-grid .blog-info h5 a {
    color: #20247b;
}
.blog-grid .blog-info p {
    margin: 0;
}
.blog-grid .blog-info .btn-bar {
    margin-top: 20px;
}

/* Blog Sidebar
-------------------*/
.blog-aside .widget {
    box-shadow: 0 0 30px rgba(31, 45, 61, 0.125);
    border-radius: 5px;
    overflow: hidden;
    background: #ffffff;
    margin-top: 15px;
    margin-bottom: 15px;
    width: 100%;
    display: inline-block;
    vertical-align: top;
}
.blog-aside .widget-body {
    padding: 15px;
}
.blog-aside .widget-title {
    padding: 15px;
    border-bottom: 1px solid #eee;
}
.blog-aside .widget-title h3 {
    font-size: 20px;
    font-weight: 700;
    color: #fc5356;
    margin: 0;
}
.blog-aside .widget-author .media {
    margin-bottom: 15px;
}
.blog-aside .widget-author p {
    font-size: 16px;
    margin: 0;
}
.blog-aside .widget-author .avatar {
    width: 70px;
    height: 70px;
    border-radius: 50%;
    overflow: hidden;
}
.blog-aside .widget-author h6 {
    font-weight: 600;
    color: #20247b;
    font-size: 22px;
    margin: 0;
    padding-left: 20px;
}
.blog-aside .post-aside {
    margin-bottom: 15px;
}
.blog-aside .post-aside .post-aside-title h5 {
    margin: 0;
}
.blog-aside .post-aside .post-aside-title a {
    font-size: 18px;
    color: #20247b;
    font-weight: 600;
}
.blog-aside .post-aside .post-aside-meta {
    padding-bottom: 10px;
}
.blog-aside .post-aside .post-aside-meta a {
    color: #6f8ba4;
    font-size: 12px;
    text-transform: uppercase;
    display: inline-block;
    margin-right: 10px;
}
.blog-aside .latest-post-aside + .latest-post-aside {
    border-top: 1px solid #eee;
    padding-top: 15px;
    margin-top: 15px;
}
.blog-aside .latest-post-aside .lpa-right {
    width: 90px;
}
.blog-aside .latest-post-aside .lpa-right img {
    border-radius: 3px;
}
.blog-aside .latest-post-aside .lpa-left {
    padding-right: 15px;
}
.blog-aside .latest-post-aside .lpa-title h5 {
    margin: 0;
    font-size: 15px;
}
.blog-aside .latest-post-aside .lpa-title a {
    color: #20247b;
    font-weight: 600;
}
.blog-aside .latest-post-aside .lpa-meta a {
    color: #6f8ba4;
    font-size: 12px;
    text-transform: uppercase;
    display: inline-block;
    margin-right: 10px;
}

.tag-cloud a {
    padding: 4px 15px;
    font-size: 13px;
    color: #ffffff;
    background: #20247b;
    border-radius: 3px;
    margin-right: 4px;
    margin-bottom: 4px;
}
.tag-cloud a:hover {
    background: #fc5356;
}

.blog-single {
    padding-top: 30px;
    padding-bottom: 30px;
}

.article {
    box-shadow: 0 0 30px rgba(31, 45, 61, 0.125);
    border-radius: 5px;
    overflow: hidden;
    background: #ffffff;
    padding: 15px;
    margin: 15px 0 30px;
}
.article .article-title {
    padding: 15px 0 20px;
}
.article .article-title h6 {
    font-size: 14px;
    font-weight: 700;
    margin-bottom: 20px;
}
.article .article-title h6 a {
    text-transform: uppercase;
    color: #fc5356;
    border-bottom: 1px solid #fc5356;
}
.article .article-title h2 {
    color: #20247b;
    font-weight: 600;
}
.article .article-title .media {
    padding-top: 15px;
    border-bottom: 1px dashed #ddd;
    padding-bottom: 20px;
}
.article .article-title .media .avatar {
    width: 45px;
    height: 45px;
    border-radius: 50%;
    overflow: hidden;
}
.article .article-title .media .media-body {
    padding-left: 8px;
}
.article .article-title .media .media-body label {
    font-weight: 600;
    color: #fc5356;
    margin: 0;
}
.article .article-title .media .media-body span {
    display: block;
    font-size: 12px;
}
.article .article-content h1,
.article .article-content h2,
.article .article-content h3,
.article .article-content h4,
.article .article-content h5,
.article .article-content h6 {
    color: #20247b;
    font-weight: 600;
    margin-bottom: 15px;
}
.article .article-content blockquote {
    max-width: 600px;
    padding: 15px 0 30px 0;
    margin: 0;
}
.article .article-content blockquote p {
    font-size: 20px;
    font-weight: 500;
    color: #fc5356;
    margin: 0;
}
.article .article-content blockquote .blockquote-footer {
    color: #20247b;
    font-size: 16px;
}
.article .article-content blockquote .blockquote-footer cite {
    font-weight: 600;
}
.article .tag-cloud {
    padding-top: 10px;
}

.article-comment {
    box-shadow: 0 0 30px rgba(31, 45, 61, 0.125);
    border-radius: 5px;
    overflow: hidden;
    background: #ffffff;
    padding: 20px;
}
.article-comment h4 {
    color: #20247b;
    font-weight: 700;
    margin-bottom: 25px;
    font-size: 22px;
}
img {
    max-width: 100%;
}
img {
    vertical-align: middle;
    border-style: none;
}

/* Contact Us
---------------------*/
.contact-name {
    margin-bottom: 30px;
}
.contact-name h5 {
    font-size: 22px;
    color: #20247b;
    margin-bottom: 5px;
    font-weight: 600;
}
.contact-name p {
    font-size: 18px;
    margin: 0;
}

.social-share a {
    width: 40px;
    height: 40px;
    line-height: 40px;
    border-radius: 50%;
    color: #ffffff;
    text-align: center;
    margin-right: 10px;
}
.social-share .dribbble {
    box-shadow: 0 8px 30px -4px rgba(234, 76, 137, 0.5);
    background-color: #ea4c89;
}
.social-share .behance {
    box-shadow: 0 8px 30px -4px rgba(0, 103, 255, 0.5);
    background-color: #0067ff;
}
.social-share .linkedin {
    box-shadow: 0 8px 30px -4px rgba(1, 119, 172, 0.5);
    background-color: #0177ac;
}

.contact-form .form-control {
    border: none;
    border-bottom: 1px solid #20247b;
    background: transparent;
    border-radius: 0;
    padding-left: 0;
    box-shadow: none !important;
}
.contact-form .form-control:focus {
    border-bottom: 1px solid #fc5356;
}
.contact-form .form-control.invalid {
    border-bottom: 1px solid #ff0000;
}
.contact-form .send {
    margin-top: 20px;
}

.section-title h2 {
    font-weight: 700;
    color: #20247b;
    font-size: 45px;
    margin: 0 0 15px;
    border-left: 5px solid #fc5356;
    padding-left: 15px;
}
.section-title {
    padding-bottom: 45px;
}
.contact-form .send {
    margin-top: 20px;
}
.px-btn {
    padding: 0 50px 0 20px;
    line-height: 60px;
    position: relative;
    display: inline-block;
    color: #20247b;
    background: none;
    border: none;
}
.px-btn:before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    display: block;
    border-radius: 30px;
    background: transparent;
    border: 1px solid rgba(252, 83, 86, 0.6);
    border-right: 1px solid transparent;
    -moz-transition: ease all 0.35s;
    -o-transition: ease all 0.35s;
    -webkit-transition: ease all 0.35s;
    transition: ease all 0.35s;
    width: 60px;
    height: 60px;
}
.px-btn .arrow {
    width: 13px;
    height: 2px;
    background: currentColor;
    display: inline-block;
    position: absolute;
    top: 0;
    bottom: 0;
    margin: auto;
    right: 25px;
}
.px-btn .arrow:after {
    width: 8px;
    height: 8px;
    border-right: 2px solid currentColor;
    border-top: 2px solid currentColor;
    content: "";
    position: absolute;
    top: -3px;
    right: 0;
    display: inline-block;
    -moz-transform: rotate(45deg);
    -o-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    -webkit-transform: rotate(45deg);
    transform: rotate(45deg);
}

a:focus,
a:hover {
    text-decoration: none;
    -webkit-transition: 0.3s ease;
    -o-transition: 0.3s ease;
    transition: 0.3s ease;
}

a:focus {
    outline: 0;
}

img {
    max-width: 100%;
}

.copyright-text p {
    margin: 0;
    line-height: 26px;
    font-size: 15px;
    color: #fff;
    font-weight: 400;
}
.rektor {
    padding: 50px 20px;
    text-align: center;
}

.text-section {
    max-width: 1200px;
    margin: auto;
}

.row {
    display: flex;
    flex-wrap: wrap;
    /* align-items: center; */
    justify-content: center;
}

.col-md-4,
.col-md-8 {
    padding: 15px;
}

.image-section {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.img-rektor {
    width: 100%;
    max-width: 200px;
    height: auto;
    aspect-ratio: 1 / 1;
    border-radius: 50%;
    object-fit: cover;
    margin-bottom: 10px;
}

.text-rektor3 {
    font-size: 1.25rem;
    font-weight: bold;
    color: #2c3e50;
    margin-top: 10px;
}

.text-rektor {
    font-size: 1.5rem;
    font-weight: bold;
    color: #2c3e50;
    text-transform: uppercase;
    margin-top: 20px;
    text-align: center;
}

.text-rektor2 {
    font-size: 1rem;
    color: #34495e;
    text-align: justify;
    line-height: 1.5;
    margin: 10px 0;
}

@media (max-width: 768px) {
    .text-rektor {
        font-size: 1.25rem;
    }

    .text-rektor3 {
        font-size: 1rem;
    }

    .text-rektor2 {
        font-size: 0.875rem;
    }

    .rektor {
        padding: 20px 10px;
    }
}

@media (max-width: 576px) {
    .text-rektor {
        font-size: 1rem;
    }

    .text-rektor3 {
        font-size: 0.875rem;
    }

    .text-rektor2 {
        font-size: 0.75rem;
    }

    .rektor {
        padding: 20px 5px;
    }
}

.text-section {
    text-align: justify;
    background-color: white;
    border-radius: 15px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    padding: 20px;
    width: 100%;
}

.unduhan-title {
    text-align: center;
    margin-bottom: 30px;
    font-size: 1.25rem;
}

.card-unduhan {
    margin: 10px;
    height: 100%;
    min-width: 200px;
    border: 1px solid #ddd;
    border-radius: 10px;
    overflow: hidden;
    transition: box-shadow 0.3s;
}

.card-unduhan:hover {
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.file-preview {
    text-align: center;
    margin-bottom: 15px;
}

.file-preview img {
    max-height: 100px;
    object-fit: cover;
}

.file-preview i {
    color: #333;
}

.btn-primary {
    display: block;
    margin: 0 auto;
}

@media (max-width: 768px) {
    .unduhan-title {
        font-size: 1rem;
    }

    .file-preview i {
        font-size: 3.5rem;
    }

    .btn-primary {
        font-size: 0.875rem;
    }
}

@media (max-width: 576px) {
    .unduhan-title {
        font-size: 0.875rem;
    }

    .file-preview i {
        font-size: 3rem;
    }

    .btn-primary {
        font-size: 0.75rem;
    }
}

.video-gallery {
    text-align: center;
    padding: 50px 40px;
}

.video-gallery-title {
    font-family: "Inter", sans-serif;
    font-size: 36px;
    font-weight: 600;
    color: #000;
    margin-bottom: 40px;
}

.row {
    display: flex;
    flex-wrap: wrap; /* Ensure cards wrap on smaller screens */
    justify-content: center;
}

.col {
    margin-bottom: 20px; /* Jarak antar gambar */
}

.card-video {
    border: none;
    overflow: hidden;
    position: relative;
    width: 100%; /* Ensure full width */
}

.card-video iframe {
    width: 100%;
    height: 150px; /* Adjusted default height */
    border-radius: 10px;
}

.img-hover-zoom iframe {
    transition: transform 0.5s ease;
}

.img-hover-zoom:hover iframe {
    transform: scale(1.05); /* Efek zoom saat hover */
}

.video-title {
    display: block;
    text-align: center;
    margin-top: 10px;
    font-size: 1.25rem;
    font-weight: 500;
    color: #333;
    transition: color 0.3s;
}

/* .btn-news {
    margin-top: 30px;
    background-color: #007bff;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
}

.btn-news a {
    color: #fff;
    text-decoration: none;
}

.btn-news a:hover {
    text-decoration: underline;
}

.a-btn-news img {
    vertical-align: middle;
    margin-left: 10px;
} */

@media (min-width: 1200px) {
    .card-video iframe {
        height: 300px; /* Increased height for larger screens */
    }
}

@media (max-width: 992px) {
    .video-gallery-title {
        font-size: 28px;
    }

    .card-video iframe {
        height: 200px; /* Reduced height */
    }

    .video-title {
        font-size: 1rem;
    }
}

@media (max-width: 768px) {
    .video-gallery-title {
        font-size: 24px;
    }

    .card-video iframe {
        height: 180px; /* Reduced height */
    }

    .video-title {
        font-size: 0.875rem;
    }
}

@media (max-width: 576px) {
    .card-video iframe {
        height: 160px; /* Further reduced height */
    }
}

/*--------------------------------------------------------------
# Footer
--------------------------------------------------------------*/
.img-foot {
    max-width: 200px;
}
a {
    text-decoration: none;
}
.footer {
    font-size: 14px;
    background-color: var(--color-primary);
    padding: 50px 0;
    color: white;
}

.footer .footer-info .logo {
    line-height: 0;
    margin-bottom: 25px;
}

.footer .footer-info .logo img {
    max-height: 40px;
    margin-right: 6px;
}

.footer .footer-info .logo span {
    font-size: 30px;
    font-weight: 700;
    letter-spacing: 1px;
    color: #fff;
    font-family: var(--font-primary);
}

.footer .footer-info p {
    font-size: 14px;
    font-family: var(--font-primary);
}

.footer .social-links a {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    border: 1px solid rgba(255, 255, 255, 0.2);
    font-size: 16px;
    color: rgba(255, 255, 255, 0.7);
    margin-right: 10px;
    transition: 0.3s;
}

.footer .social-links a:hover {
    color: #fff;
    border-color: #fff;
}

.footer h4 {
    font-size: 16px;
    font-weight: bold;
    position: relative;
    padding-bottom: 12px;
}

.footer .footer-links {
    margin-bottom: 30px;
}

.footer .footer-links ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

.footer .footer-links ul i {
    font-family: "Inter", sans-serif;
    padding-right: 2px;
    color: rgba(0, 131, 116, 0.8);
    font-size: 12px;
    line-height: 0;
}

.footer .footer-links ul li {
    padding: 10px 0;
    display: flex;
    align-items: center;
}

.footer .footer-links ul li:first-child {
    padding-top: 0;
}

.footer .footer-links ul a {
    color: rgba(255, 255, 255, 0.7);

    transition: 0.3s;
    display: inline-block;
    line-height: 1;
}

.footer .footer-links ul a:hover {
    color: #fff;
}

.footer .footer-contact p {
    line-height: 26px;
}

.footer .copyright {
    text-align: center;
}

.footer .credits {
    font-family: "Inter", sans-serif;
    padding-top: 4px;
    text-align: center;
    font-size: 13px;
}

.footer .credits a {
    color: #fff;
}
/* Responsive Footer */
@media (max-width: 991px) {
    .footer .footer-info,
    .footer .footer-links {
        text-align: center;
    }

    .footer .footer-info .logo {
        margin-bottom: 15px;
    }

    .footer .footer-info p {
        font-size: 13px;
        margin-bottom: 10px;
    }

    .footer .social-links a {
        margin-right: 5px;
    }

    .footer .footer-links ul li {
        padding: 8px 0;
    }
}

@media (max-width: 767px) {
    .footer .footer-info {
        margin-bottom: 20px;
    }

    .footer .footer-links {
        margin-bottom: 20px;
    }

    .footer .footer-links ul {
        padding-left: 0;
        text-align: center;
    }

    .footer .footer-links ul li {
        display: inline-block;
        margin: 0 10px;
        padding: 5px 0;
    }

    .footer .footer-links ul a {
        font-size: 13px;
    }

    .footer .copyright,
    .footer .credits {
        font-size: 12px;
    }
}

@media (max-width: 575px) {
    .footer .footer-info img {
        max-width: 150px;
    }

    .footer h4 {
        font-size: 14px;
    }

    .footer .footer-links ul li {
        margin: 0 5px;
    }

    .footer .footer-contact p {
        font-size: 12px;
    }

    .footer .social-links a {
        width: 35px;
        height: 35px;
        font-size: 14px;
    }
}

/*--------------------------------------------------------------
# Sections & Section Header
--------------------------------------------------------------*/
section {
    padding: 100px 120px;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
    /* padding: 100px 120px; */
    width: 100%;
    /* flex-direction: column; */
}

.sections-bg {
    background-color: #f6f6f6;
}

.section-header {
    text-align: center;
    padding-bottom: 60px;
}

.section-header h2 {
    font-size: 32px;
    font-weight: 600;
    margin-bottom: 20px;
    padding-bottom: 20px;
    position: relative;
}

.section-header h2:after {
    content: "";
    position: absolute;
    display: block;
    width: 50px;
    height: 3px;
    background: var(--color-primary);
    left: 0;
    right: 0;
    bottom: 0;
    margin: auto;
}

.section-header p {
    margin-bottom: 0;
    color: #6f6f6f;
}

/*--------------------------------------------------------------
# Recent Blog Posts Section
--------------------------------------------------------------*/
.recent-posts article {
    box-shadow: 0 4px 16px rgba(0, 0, 0, 0.1);
    background-color: #fff;
    padding: 30px;
    height: 100%;
    border-radius: 10px;
    overflow: hidden;
}

.recent-posts .post-img {
    max-height: 240px;
    margin: -30px -30px 15px -30px;
    overflow: hidden;
}

.recent-posts .post-category {
    font-size: 16px;
    color: #6f6f6f;
    margin-bottom: 10px;
}

.recent-posts .title {
    font-size: 22px;
    font-weight: 700;
    padding: 0;
    margin: 0 0 20px 0;
    display: -webkit-box;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
}

.recent-posts .title a {
    color: var(--color-default);
    transition: 0.3s;
}

.recent-posts .title a:hover {
    color: var(--color-primary);
}

.recent-posts .post-author-img {
    width: 50px;
    border-radius: 50%;
    margin-right: 15px;
}

.recent-posts .post-author {
    font-weight: 600;
    margin-bottom: 5px;
}

.recent-posts .post-date {
    font-size: 14px;
    color: #3c3c3c;
    margin-bottom: 0;
}
.btn-read {
    background: var(--color-primary);
    border: 0;
    padding: 14px 45px;
    color: #fff;
    transition: 0.4s;
    border-radius: 50px;
}
.btn-read:hover {
    background-color: #eab104ef;
}
.btn-read .a-btn-news {
    font-size: 20px;
    text-decoration: none;
    color: #fff;
}
/*--------------------------------------------------------------
# Portfolio Section
--------------------------------------------------------------*/
.portfolio .portfolio-flters {
    padding: 0 0 20px 0;
    margin: 0 auto;
    list-style: none;
    text-align: center;
}

.portfolio .portfolio-flters li {
    cursor: pointer;
    display: inline-block;
    padding: 0;
    font-size: 18px;
    font-weight: 500;
    margin: 0 10px;
    line-height: 1;
    transition: all 0.3s ease-in-out;
}

.portfolio .portfolio-flters li:hover,
.portfolio .portfolio-flters li.filter-active {
    color: var(--color-primary);
}

.portfolio .portfolio-flters li:first-child {
    margin-left: 0;
}

.portfolio .portfolio-flters li:last-child {
    margin-right: 0;
}

@media (max-width: 575px) {
    .portfolio .portfolio-flters li {
        font-size: 14px;
        margin: 0 5px;
    }
}

.portfolio .portfolio-wrap {
    box-shadow: 0px 10px 30px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
    height: 100%;
    overflow: hidden;
}

.portfolio .portfolio-wrap img {
    transition: 0.3s;
    position: relative;
    z-index: 1;
}

.portfolio .portfolio-wrap .portfolio-info {
    padding: 25px 20px;
    background-color: #fff;
    position: relative;
    border-top: 1px solid #f3f3f3;
    z-index: 2;
}

.portfolio .portfolio-wrap .portfolio-info h4 {
    font-size: 18px;
    font-weight: 600;
    padding-right: 50px;
}

.portfolio .portfolio-wrap .portfolio-info h4 a {
    color: var(--color-default);
    transition: 0.3s;
}

.portfolio .portfolio-wrap .portfolio-info h4 a:hover {
    color: var(--color-primary);
}

.portfolio .portfolio-wrap .portfolio-info p {
    color: #6c757d;
    font-size: 14px;
    margin-bottom: 0;
    padding-right: 50px;
}

.portfolio .portfolio-wrap:hover img {
    transform: scale(1.1);
}

/*--------------------------------------------------------------
# Call To Action Section
--------------------------------------------------------------*/
.call-to-action {
    padding: 0;
    margin-bottom: 80px;
}

.call-to-action .container {
    padding: 80px;
    background: color-mix(in srgb, #1a1f24, transparent 96%);
    border-radius: 15px;
}

@media (max-width: 992px) {
    .call-to-action .container {
        padding: 60px;
    }


}

.call-to-action .content h3 {
    font-size: 48px;
    font-weight: 700;
}

.call-to-action .content h3 em {
    font-style: normal;
    position: relative;
    z-index: 1;
}

.call-to-action .content h3 em:after {
    content: "";
    position: absolute;
    left: 0;
    right: 0;
    bottom: 10px;
    height: 10px;
    background: color-mix(in srgb, #0ea2bd, transparent 30%);
    z-index: -1;
}

.call-to-action .content p {
    color: color-mix(in srgb, #1a1f24, transparent 20%);
    font-weight: 400;
    font-size: 18px;
    /* text-align: center; */
}

.call-to-action .content .cta-btn {
    color: #ffffff;
    font-weight: 500;
    font-size: 16px;
    display: inline-block;
    padding: 12px 40px;
    border-radius: 5px;
    transition: 0.5s;
    margin-top: 10px;
    background: #0ea2bd;
}

.call-to-action .content .cta-btn:hover {
    background: color-mix(in srgb, #0ea2bd 90%, black 15%);
}

.call-to-action .img {
    position: relative;
}

.call-to-action .img:before {
    content: "";
    position: absolute;
    inset: 0;
    background: color-mix(in srgb, #ffffff, transparent 20%);
    border-radius: 15px;
    transform: rotate(6deg);
    z-index: 2;
}

.call-to-action .img:after {
    content: "";
    position: absolute;
    inset: 0;
    background: color-mix(in srgb, #1a1f24, transparent 95%);
    border-radius: 15px;
    transform: rotate(12deg);
    z-index: 1;
}

.call-to-action .img img {
    position: relative;
    z-index: 3;
    border-radius: 15px;
    z-index: 3;
}

/* .agenda-section {
    background-color: #f8f9fa;
    text-align: center;
    padding: 100px 120px;
    display: flex;
    flex-direction: column;
} */

.agenda-container {
    font-family: Arial, sans-serif;
    background-color: #fff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    margin-left: 20px;
    margin-right: 20px;
}

.agenda-container h2 {
    margin-top: 0;
    border-bottom: 2px solid #ffcc00;
    display: inline-block;
}

.agenda-item {
    display: flex;
    border-bottom: 1px solid #ddd;
    padding: 10px 0;
    align-items: center;
}

.agenda-item:last-child {
    border-bottom: none;
}

.date {
    background-color: #003366;
    color: #fff;
    text-align: center;
    padding: 10px;
    margin-right: 20px;
    border-radius: 4px;
}

.date .day {
    font-size: 24px;
    font-weight: bold;
}

.date .month {
    font-size: 18px;
}

.details h3 {
    margin: 0;
    color: #003366;
}

.details p {
    margin: 5px 0;
    color: #666;
}

.more-agenda {
    display: block;
    text-align: right;
    margin-top: 20px;
    color: #003366;
    text-decoration: none;
    font-weight: bold;
}

.more-agenda:hover {
    text-decoration: underline;
}

/* FAQ Section */
#faq {
    padding: 80px 0;
}

#faq .section-header h2 {
    font-size: 36px;
    font-weight: 700;
    text-transform: uppercase;
    text-align: center;
    margin-bottom: 30px;
}

#faq .accordion-button {
    background-color: #ffb606;
    color: #000;
    font-weight: 600;
    border: none;
    text-align: left;
    padding: 15px 30px;
    border-radius: 5px;
    margin-bottom: 10px;
    transition: background-color 0.3s ease;
}

#faq .accordion-button:hover {
    background-color: #e0a800;
}

#faq .accordion-button.collapsed {
    background-color: #ffb606;
}

#faq .accordion-body {
    background-color: #f3f4f6;
    padding: 15px 30px;
    border-radius: 5px;
    font-size: 16px;
    color: #444;
}

#faq .accordion-item {
    margin-bottom: 20px;
    border: none;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    transition: box-shadow 0.3s ease;
}

#faq .accordion-item:hover {
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.15);
}

@media (max-width: 768px) {
    #faq .accordion-button {
        padding: 15px 20px;
    }

    #faq .accordion-body {
        padding: 15px 20px;
    }
}
